<section id="records">
  <% if @grouped_inquiries.any? %>
    <% @grouped_inquiries.each do |container| %>
      <h3><%= l((inquiry_group = container.last).first.created_at) %></h3>
      <ul class="records">
        <%= render partial: 'inquiry', collection: inquiry_group %>
      </ul>
    <% end %>
  <% else %>
    <p>
      <strong><%= t('.no_spam') %></strong>
    </p>
  <% end %>
</section>
<section id="actions">
  <%= render 'actions' %>
</section>
